* {
  box-sizing: border-box;
}

header {

}

main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

main nav {
  grid-column: 1;
}

main .results {
  grid-column: 2 / 5;
  display: grid;
  grid-template-columns: 1fr;
}

.tile {
  outline: 1px solid black;
  padding: 15px;
}

.spinner {
  width: 100px;
  height: 100px;
  text-align: center;
}

nav.pagination {
  grid-column: 1 / 5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 7px 0;
}

footer {
  padding: 20px 10px;
  background-color: #CCCCCC;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (min-width: 600px) {
  main .results {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 850px) {
  main .results {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1100px) {
  main .results {
    grid-template-columns: repeat(4, 1fr);
  }
}
